<div class="d-flex justify-content-center dragon-add-btn">
    <a routerLink="/dragons/new">
      <button mat-raised-button color="primary">ADD NEW DRAGON</button>
    </a>
</div>

<div *ngFor="let dragon of dragons" class="row justify-content-md-center">
  <div class="col-md-6">
    <mat-card class="dragon-card">
      <mat-card-header>
        <mat-card-title> {{dragon.name}} </mat-card-title>
        <mat-card-subtitle> {{dragon.type}} </mat-card-subtitle>
        <mat-card-subtitle class="dragon-date-font"> Created at: {{ dragon.created_at.toLocaleString() }} </mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button (click)="editDragon(dragon)">EDIT</button>
        <button mat-button (click)="deleteDragon(dragon)">DELETE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div *ngIf="loadingIndicator" class="row justify-content-md-center">
  <div class="loader"></div>
</div>