
<h3>Dragons List</h3>
<div class="row">
<a routerLink="/dragons/new" class="col-md-2">
  <button type="button" class="btn btn-primary">Add a new dragon</button>
  </a>
</div>

<div *ngFor="let dragon of dragons" class="card" style="width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Name: {{dragon.name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Type: {{dragon.type}}</h6>
    <a  routerLink="/dragon/{{dragon.slug}}" class="card-link">
      <button type="button" class="btn btn-primary btn-sm">edit</button>
    </a>
    <button type="button" class="btn btn-primary btn-sm card-link" (click)="deleteDragon(dragon)" >delete</button>
    
  </div>
</div>
